/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: unset;
}

.Header {
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    justify-content: space-between;
    align-self: stretch;
}

.Header a {
    display: flex;
    align-self: center;
}

#ancre-h {
    border-top: #0065FC;
    border-top-style: solid;
    padding-top: 14px;
    -webkit-text-fill-color: #0065FC;
}

#ancre-a {
    padding-top: 16px;
    -webkit-text-fill-color: #000000;
}

#Booki {
    display: flex;
    padding: 30px 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: center;
}

.Nav-M {
    padding: 0px 50px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 68px;
}

.main-container {
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    align-self: stretch;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


.recherche-loupe{
    display: none;
}

/****** Haut de page ***********/

.info-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    align-self: stretch;
}

#accroche {
    margin: unset;
    font-size: 22px;
}

#info-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.search-bar {
    display: flex;
    width: 377px;
    align-items: center;
    border-radius: 18px;
    border: 1px solid var(--Grey, #F2F2F2);
    background: var(--White, #FFF);
    justify-content: space-between;
}

#Search-text {
    font-size: 17px;
    margin: unset;
}

input.Search-input {
    width: 100%;
    padding: unset;
    border: unset;
    color: #000000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.recherche-button {
    display: flex;
    padding: 15px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 0px 15px 15px 0px;
    border: unset;
    background: var(--Blue, #0065FC);
    color: var(--White, #FFF);
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.filter {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: row;
    flex-wrap: wrap;
}

#filter-title {
    margin-top: unset;
}

.filter-button {
    display: flex;
    height: 50px;
    padding: 4px 19px;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    border: 2px solid var(--grey-tint-2, #D9D9D9);
    background: var(--White);
    transition-duration: 4ms;
    color: var(--Black, #000);
    font-family: Raleway;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.filter-button:hover {
    background-color: var(--blue-light, #DEEBFF);
}

.info-bar {
    display: flex;
    height: 24px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display:flex;
    flex-direction:column;
    box-sizing: border-box;
    padding: 30px;
    align-items: flex-start;
    gap: 30px;
    flex: 1 0 0;
    align-self: stretch;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    display:inline-flex;
    align-self: stretch;
    flex-direction:row;
    flex-wrap: wrap;
    gap: 30px 30px;
    width: 100%;
    justify-content: space-around;

}

.hebergements-cards .card {
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    align-self: stretch;
}

.hebergements-cards .card-content {
    display: flex;
    padding: 0px 15px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.hebergements-cards a {
    display: flex;
    justify-content: space-evenly;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    justify-content: space-around;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    min-width: 100%;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards a {
    display: flex;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/****** Activité ***********/
.activity {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
}

.activity-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activity-cards {
    width: 100%;
    display: flex;
    gap: 30px;
}

.activity-cards .card {
    width: auto;
    display: inline-flex;
    height: 439px;
    flex-direction: column;
    align-items: center;
    flex: 1 0 0;
    padding: unset;
}

.activity-cards img {
    height: 380px;
    width: 100%;
    flex-shrink: 0;
    align-self:auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activity-cards .card-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.activity-cards .card-title {
    display: flex;
    padding: 20px 19px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    margin: unset;
}

.activity-card-item {
    display: flex;
    width: 25%;
}

/****** Footer ***********/

footer {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    background-color: #F2F2F2;
}

.footer-division {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    flex: 1 0 0;
    align-self: stretch;
}

.footer-helper {
    margin: unset;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {


    #Booki {
        align-self: center;
        padding: 30px 50px 30px 0px;
    }

    .Nav-M {
        padding: unset;
    }

    .main-container{
        width: 100%;
        margin: 0px 50px 0px 50px;
        padding: unset;
    }

    .card {
        width: 100%;
    }
    
    .hebergements-and-populaires {
        flex-direction: column;
        gap: unset;
    }

    .hebergements {
        width: 100%;
        padding: unset;
    }

    .hebergements-cards a {
        width:30%;
    }

    .hebergements-cards .card {
        min-width: unset;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
        padding: unset;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activity {
        padding: 30px;
        width: auto;
        align-self: stretch;
        align-items: flex-start;
    }

    .activity-cards .card {
        height: unset;
        align-self: stretch;
        justify-content: flex-end;
    }

    .activity-cards img {
        height: 200px;
        width: 100%;
        align-self: stretch;
    }

    .activity-cards .card-txt {
        height: 70px;
    }

    .activity-cards .card-title {
        height: 30px;
        font-size: 13px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    .Header {
        display: flex;
        gap: unset;
        flex-direction: column;
    }

    #Booki {
        padding-right: unset;
    }

    .Menu {
        align-self: unset;
        width: 100%;
    }

    .Nav-M {
        gap: unset;
    }

    
    #ancre-h {
        border-top: unset;
        border-bottom: #0065FC;
        border-bottom-style: solid;
        padding-bottom: 15px;
        -webkit-text-fill-color: #0065FC;    
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: unset;
    }

    #ancre-a {
        padding-bottom: 15px;
        border-bottom: #F2F2F2;
        border-bottom-style: solid;
        -webkit-text-fill-color: #000000;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: unset;
    }


    .search-bar {
        width: 100%;
        align-self: center;
    }

    .recherche-loupe {
        display: flex;
        height: 100%;
        justify-content: center;
        flex-direction: column;
        padding: 16px 15px;
        border-radius: 15px;
        border: 1px solid var(--Blue, #0065FC);
        background: var(--Blue, #0065FC);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    body {
        width: 100%;
        margin: unset;
    }

    .info-group {
        padding: 5%;
    }

    #filter-cat {
        margin-top: unset;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .filter {
        row-gap: 20px;
        column-gap: unset;
        justify-content: space-between;
    }

    .filter-button {
        width: 48%;
        padding: 4px 4%;
    }

    .filter-button h3 {
        font-size: 14px;
    }

    .recherche-button{
        display: none;
    }
    
    .main-container {
        width: 100%;
        padding: 0%;
        margin: unset;
    }

    .hebergements-cards a {
        width: 100%;
    }

    .hebergements-and-populaires section {
        padding: 20px;
        border-radius: unset;
    }

    .hebergements-and-populaires{
        gap: 40px;
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires .hebergements {
        background-color: unset;
    }

    .populaires {
        display: flex;
        flex-direction: column;
        margin: unset;
    }

    .populaires-cards {
        flex-direction: column;
        width: 100%;
    }

    .populaires-cards a {
        width: 100%;
    }

    .activity {
        width: 85%;
        align-self: center;
    }

    .activity-cards {
        flex-direction: column;
    }

    .activity-card-item {
        width: 100%;
    }

    footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        background-color: #F2F2F2;
        gap: 50px;
    }
}